{% extends 'eenvironmentblog/base.html' %}

{% block title %}Date Biodiversitate{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Date Biodiversitate pentru {{ arie_naturala.nume_arie }}</h1>
    <div class="card mb-3">
        <div class="card-body">
            {{ date_biodiversitate.body|safe }}
        </div>
    </div>
    <a href="{% url 'post_detail' date_biodiversitate.arie_naturala.post_set.first.pk %}" class="btn btn-secondary">Back to Post</a>
</div>
{% endblock %}
 